{% block title %}{% endblock %}
{% block body %}

<div class="jumbotron">
    <h1 style='text-align: center'>Обновление только одного значения</h1>
</div><br>

<div class="jumbotron">
    <h3 style='text-align: center'>Выберите название колонки, в которой хотите обновить значение,<br>
        Введите значение сопоставляющей колонки,<br>
        Выберите сопостовляющую колонку из {{matching_columns}},<br>
        Введите значение на которое хотите заменить,<br>
        Введите тип нового значения<br>

        <br>Обновляемые колонки не могут быть среди дефолтных: {{unupdateable_columns}}<br>
    </h3>
</div><br><br><br>

<div>
    <form method="POST" action="/update" enctype="multipart/form-data">
        <label id="label" for="dropdown">Выберите название колонки, которую хотите заменить:</label>
        <select id="dropdown" name="column_name">
        </select><br><br><br>

        <label id="label_matching_column" for="matching_dropdown">Выберите колонку, по которой произойдет
            сопоставление:</label>
        <select id="matching_dropdown" name="matching_column">
            <option value="id">id</option>
            <option value="oktmo">oktmo</option>
            <option value="dadata">dadata</option>
        </select><br><br><br>

        <label id="label_matching_value" for="matching_value"> Введите значения для сопоставления </label>
        <input type="text" id="matching_value" name="matching_value" size="15" required/>
        <br><br><br>

        <label id="label_new_value" for="new_value"> Введите новое значение </label>
        <input type="text" id="new_value" name="new_value" size="15" required/><br><br><br>
        <label id="label_type_dropdown" for="type_dropdown">Выберите тип нового значения:</label>
        <select id="type_dropdown" name="new_value_type">
            <option value="Float">Float</option>
            <option value="String">String</option>
            <option value="Integer">Integer</option>
        </select>
        <input type="submit">

    </form>
</div><br><br><br>

<div style="text-align: center;">
    <p style="color: {{color}}; font-size:20px;">{{message}}</p>
</div>

<script>

    var columns = {{ columns|tojson }};
    addOptions(columns);

    function addOptions(columns) {
        var dropdown = document.getElementById("dropdown");

        columns.forEach(function(option) {
            var newOption = document.createElement("option");
            newOption.text = option;
            newOption.value = option;
            dropdown.add(newOption);
        });
    }







</script>


{% endblock %}


