{% extends "base.html" %}

{% block body %}
<div class="row justify-content-center align-items-center text-center" style="height: 100vh;">
    <div class="col-md-6">
<!--        <div class="topnav">-->
<!--            {% if session.logged_in %}-->
            <a href="/login/" type="submit" class="btn btn-primary" style="display: block; margin-bottom: 10px; margin-left:60px;">Login</a>
            <a type="submit" class="btn btn-primary" style="display: block; margin-left:60px;" href="/register/">Sign up</a>
<!--            <a href="/login/">Login</a>-->
<!--            <a href="/register/">Sign up</a>-->
<!--            {% else %}-->
<!--            {% endif %}-->
<!--        </div>-->
    </div>
</div>

<!--{% if session['logged_in'] %}-->
<!--    <h5>Welcome, {{session['username'] }}</h5>-->
<!--{% endif %}-->

{% endblock body %}